In [83]:
#Import libraries

import pandas as pd
import numpy as np
from collections import Counter

In [24]:
#Import the data 

movie_df = pd.read_csv('/Users/markdetiberiis/MovieMonths/clean_movie_info.csv')

In [25]:
movie_df.head()

,Unnamed: 0,Unnamed: 0.1,tconst,primary_title,runtime_minutes,genres,averagerating,numvotes,id,production_budget,domestic_gross,worldwide_gross,release_month,release_day,release_year
0,0,0,tt0249516,Foodfight!,91.0,"Action,Animation,Comedy",1.9,8248,26,45000000,0,73706,Dec,31,2012
1,1,1,tt0326592,The Overnight,88.0,NaN,7.5,24,21,200000,1109808,1165996,Jun,19,2015
2,2,2,tt3844362,The Overnight,79.0,"Comedy,Mystery",6.1,14828,21,200000,1109808,1165996,Jun,19,2015
3,3,3,tt0337692,On the Road,124.0,"Adventure,Drama,Romance",6.1,37886,17,25000000,720828,9313302,Mar,22,2013
4,4,4,tt4339118,On the Road,89.0,Drama,6.0,6,17,25000000,720828,9313302,Mar,22,2013

In [93]:
movie_df.groupby(['release_month','worldwide_gross']).primary_title.head()

0          Foodfight!
1       The Overnight
2       The Overnight
3         On the Road
4         On the Road
            ...
2870      Richard III
2871           Heroes
2872             Push
2873        Unplanned
2874    The Terrorist
Name: primary_title, Length: 2627, dtype: object

In [141]:
#sort list by highest worldwide gross and output just the  film name

In [118]:
movie_df.sort_values(['worldwide_gross'], ascending=[False])

,Unnamed: 0,Unnamed: 0.1,tconst,primary_title,runtime_minutes,genres,averagerating,numvotes,id,production_budget,domestic_gross,worldwide_gross,release_month,release_day,release_year
1279,1279,1279,tt1775309,Avatar,93.0,Horror,6.1,43,1,425000000,760507625,2776345279,Dec,18,2009
2057,2057,2057,tt2495766,Titanic,NaN,Adventure,6.2,20,43,200000000,659363944,2208208395,Dec,19,1997
2538,2538,2538,tt4154756,Avengers: Infinity War,149.0,"Action,Adventure,Sci-Fi",8.5,670926,7,300000000,678815482,2048134200,Apr,27,2018
8,8,8,tt0369610,Jurassic World,124.0,"Action,Adventure,Sci-Fi",7.0,539338,34,215000000,652270625,1648854864,Jun,12,2015
2190,2190,2190,tt2820852,Furious 7,137.0,"Action,Crime,Thriller",7.2,335074,67,190000000,353007020,1518722794,Apr,3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1972,1972,1972,tt2375036,Dry Spell,90.0,"Comedy,Romance",3.3,120,54,22000,0,0,Dec,31,2014
1967,1967,1967,tt2363439,The Frozen,95.0,"Drama,Thriller",4.4,1641,96,250000,0,0,Dec,18,2012
2513,2513,2513,tt4044464,Adulterers,91.0,"Crime,Drama,Thriller",5.2,1377,86,750000,0,0,Jan,5,2016
1945,1945,1945,tt2343473,Echo Dr.,81.0,"Action,Drama,Sci-Fi",3.6,112,94,100000,0,0,Jun,10,2014
1475,1475,1475,tt1884318,Girls Gone Dead,104.0,"Comedy,Horror",3.5,2230,74,500000,0,0,Jul,17,2012

In [115]:

movie_df.sort_values('worldwide_gross', ascending = False)['release_month'].head(100)

1279    Dec
2057    Dec
2538    Apr
8       Jun
2190    Apr
       ...
362     May
32      Nov
2778    May
717     Mar
718     Mar
Name: release_month, Length: 100, dtype: object

In [111]:
movies_sorted = movie_df.sort_values('worldwide_gross', ascending = False)['release_month']

In [135]:
sorted_months_df = pd.DataFrame(movies_sorted)
sorted_months_df.head

<bound method NDFrame.head of      release_month
1279           Dec
2057           Dec
2538           Apr
8              Jun
2190           Apr
...            ...
1972           Dec
1967           Dec
2513           Jan
1945           Jun
1475           Jul

[2875 rows x 1 columns]>

In [137]:
sorted_months_df

     release_month
1279           Dec
2057           Dec
2538           Apr
8              Jun
2190           Apr
...            ...
1972           Dec
1967           Dec
2513           Jan
1945           Jun
1475           Jul

[2875 rows x 1 columns]

In [158]:
#Show number of movies for each month 

sorted_months_df['release_month'].value_counts().head(12)

Dec    375
Oct    271
Sep    247
Apr    244
Mar    241
Nov    237
Aug    235
Jun    235
Jul    213
Feb    205
May    190
Jan    182
Name: release_month, dtype: int64

In [156]:
#save number of movies released in each month 

movies_in_jan = sorted_months_df['release_month'].value_counts().head(12)['Jan']
movies_in_feb = sorted_months_df['release_month'].value_counts().head(12)['Feb']
movies_in_mar = sorted_months_df['release_month'].value_counts().head(12)['Mar']
movies_in_apr = sorted_months_df['release_month'].value_counts().head(12)['Apr']
movies_in_may = sorted_months_df['release_month'].value_counts().head(12)['May']
movies_in_jun = sorted_months_df['release_month'].value_counts().head(12)['Jun']
movies_in_july = sorted_months_df['release_month'].value_counts().head(12)['Jul']
movies_in_aug = sorted_months_df['release_month'].value_counts().head(12)['Aug']
movies_in_sep = sorted_months_df['release_month'].value_counts().head(12)['Sep']
movies_in_oct = sorted_months_df['release_month'].value_counts().head(12)['Oct']
movies_in_nov = sorted_months_df['release_month'].value_counts().head(12)['Nov']
movies_in_dec = sorted_months_df['release_month'].value_counts().head(12)['Dec']