In [1]:
#Import everything 

import pandas as pd
import numpy as np
import requests
import json
from bs4 import BeautifulSoup
import csv

import matplotlib.pyplot as plt
plt.style.use('seaborn')


#starting sentiment analysis 

import nltk
from nltk.corpus import stopwords

#Lemmatization
#Basically changing word like resturants to resturant(words to word) bc really they mean the same thing 

import textblob

from textblob import Word

from nltk.stem import WordNetLemmatizer 
  
lemmatizer = WordNetLemmatizer() 

#Sentiment Analysis

from textblob import TextBlob

In [2]:
movie_df = pd.read_csv('/Users/markdetiberiis/MovieMonths/movie_df.csv')

In [3]:
df_t = pd.read_csv('/Users/markdetiberiis/MovieMonths/sentiment_reviews.csv')

In [4]:
movie_df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,tconst,primary_title,runtime_minutes,genres,averagerating,numvotes,id,production_budget,domestic_gross,worldwide_gross,release_month,release_day,release_year
0,0,0,0,tt0249516,Foodfight,91.0,"Action,Animation,Comedy",1.9,8248,26,45000000.0,0.0,73706.0,Dec,31,2012
1,1,1,1,tt0326592,The Overnight,88.0,NaN,7.5,24,21,200000.0,1109808.0,1165996.0,Jun,19,2015
2,2,2,2,tt3844362,The Overnight,79.0,"Comedy,Mystery",6.1,14828,21,200000.0,1109808.0,1165996.0,Jun,19,2015
3,3,3,3,tt0337692,On the Road,124.0,"Adventure,Drama,Romance",6.1,37886,17,25000000.0,720828.0,9313302.0,Mar,22,2013
4,4,4,4,tt4339118,On the Road,89.0,Drama,6.0,6,17,25000000.0,720828.0,9313302.0,Mar,22,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2870,2870,2870,2870,tt8680254,Richard III,NaN,Drama,9.1,28,65,9200000.0,2684904.0,4199334.0,Dec,29,1995
2871,2871,2871,2871,tt8824064,Heroes,88.0,Documentary,7.3,7,12,400000.0,655538.0,655538.0,Oct,24,2008
2872,2872,2872,2872,tt8976772,Push,92.0,Documentary,7.3,33,70,38000000.0,31811527.0,49678401.0,Feb,6,2009
2873,2873,2873,2873,tt9024106,Unplanned,106.0,"Biography,Drama",6.3,5945,33,6000000.0,18107621.0,18107621.0,Mar,29,2019
2874,2874,2874,2874,tt9248762,The Terrorist,NaN,Thriller,6.0,6,48,25000.0,195043.0,195043.0,Jan,14,2000

In [5]:
df_t['primary_title'] = df_t['Unnamed: 0']

In [6]:
df_t

,Unnamed: 0,review,review_as_string,word_count,char_count,stopword_count,stopword_percentage,polarity,subjectivity,primary_title
0,Foodfight,"['Odd adventure-comedy has lots of innuendo, c...","Odd adventure-comedy has lots of innuendo, car...",25,178,7,0.280000,0.011111,0.416667,Foodfight
1,Tangled,['This snappy role reversal may or may not app...,This snappy role reversal may or may not appea...,241,1404,99,0.410788,0.279006,0.481250,Tangled
2,Shazam,"[""It's an interesting departure for Swedish ho...",It's an interesting departure for Swedish horr...,308,1784,125,0.405844,0.051822,0.535101,Shazam
3,Margaret,['Margaret is less about plot mechanics than a...,Margaret is less about plot mechanics than abo...,274,1654,113,0.412409,0.111290,0.517119,Margaret
4,Unstoppable,['Snipes sempre uma presena interessante em c...,Snipes sempre uma presena interessante em cen...,25,145,3,0.120000,0.000000,0.000000,Unstoppable
...,...,...,...,...,...,...,...,...,...,...
502,Serendipity,"['""Serendipity"" will serve as an excellent gau...","""Serendipity"" will serve as an excellent gauge...",249,1507,102,0.409639,0.245336,0.610054,Serendipity
503,Flawless,"['Outdated and schematic, this two-character m...","Outdated and schematic, this two-character mel...",109,743,40,0.366972,0.235317,0.425198,Flawless
504,Heroes,"['The subject deserved a better film.', ""Samir...","The subject deserved a better film., Samir Kar...",16,103,4,0.250000,0.077778,0.311111,Heroes
505,Push,[],NaN,0,0,0,NaN,0.000000,0.000000,Push
506,Unplanned,['Unplanned will make you writhe in agony over...,Unplanned will make you writhe in agony over h...,250,1549,102,0.408000,-0.081710,0.519733,Unplanned

In [7]:
df_t.drop(['Unnamed: 0','word_count','char_count','stopword_percentage','stopword_count','char_count','word_count'], axis = 1, inplace = True)

In [8]:
df_t

,review,review_as_string,polarity,subjectivity,primary_title
0,"['Odd adventure-comedy has lots of innuendo, c...","Odd adventure-comedy has lots of innuendo, car...",0.011111,0.416667,Foodfight
1,['This snappy role reversal may or may not app...,This snappy role reversal may or may not appea...,0.279006,0.481250,Tangled
2,"[""It's an interesting departure for Swedish ho...",It's an interesting departure for Swedish horr...,0.051822,0.535101,Shazam
3,['Margaret is less about plot mechanics than a...,Margaret is less about plot mechanics than abo...,0.111290,0.517119,Margaret
4,['Snipes sempre uma presena interessante em c...,Snipes sempre uma presena interessante em cen...,0.000000,0.000000,Unstoppable
...,...,...,...,...,...
502,"['""Serendipity"" will serve as an excellent gau...","""Serendipity"" will serve as an excellent gauge...",0.245336,0.610054,Serendipity
503,"['Outdated and schematic, this two-character m...","Outdated and schematic, this two-character mel...",0.235317,0.425198,Flawless
504,"['The subject deserved a better film.', ""Samir...","The subject deserved a better film., Samir Kar...",0.077778,0.311111,Heroes
505,[],NaN,0.000000,0.000000,Push
506,['Unplanned will make you writhe in agony over...,Unplanned will make you writhe in agony over h...,-0.081710,0.519733,Unplanned

In [9]:
movie_df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,tconst,primary_title,runtime_minutes,genres,averagerating,numvotes,id,production_budget,domestic_gross,worldwide_gross,release_month,release_day,release_year
0,0,0,0,tt0249516,Foodfight,91.0,"Action,Animation,Comedy",1.9,8248,26,45000000.0,0.0,73706.0,Dec,31,2012
1,1,1,1,tt0326592,The Overnight,88.0,NaN,7.5,24,21,200000.0,1109808.0,1165996.0,Jun,19,2015
2,2,2,2,tt3844362,The Overnight,79.0,"Comedy,Mystery",6.1,14828,21,200000.0,1109808.0,1165996.0,Jun,19,2015
3,3,3,3,tt0337692,On the Road,124.0,"Adventure,Drama,Romance",6.1,37886,17,25000000.0,720828.0,9313302.0,Mar,22,2013
4,4,4,4,tt4339118,On the Road,89.0,Drama,6.0,6,17,25000000.0,720828.0,9313302.0,Mar,22,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2870,2870,2870,2870,tt8680254,Richard III,NaN,Drama,9.1,28,65,9200000.0,2684904.0,4199334.0,Dec,29,1995
2871,2871,2871,2871,tt8824064,Heroes,88.0,Documentary,7.3,7,12,400000.0,655538.0,655538.0,Oct,24,2008
2872,2872,2872,2872,tt8976772,Push,92.0,Documentary,7.3,33,70,38000000.0,31811527.0,49678401.0,Feb,6,2009
2873,2873,2873,2873,tt9024106,Unplanned,106.0,"Biography,Drama",6.3,5945,33,6000000.0,18107621.0,18107621.0,Mar,29,2019
2874,2874,2874,2874,tt9248762,The Terrorist,NaN,Thriller,6.0,6,48,25000.0,195043.0,195043.0,Jan,14,2000

In [10]:
movie_df.drop(['Unnamed: 0','Unnamed: 0.1','Unnamed: 0.1.1'], axis = 1, inplace = True)

In [17]:
movie_df

,tconst,primary_title,runtime_minutes,genres,averagerating,numvotes,id,production_budget,domestic_gross,worldwide_gross,release_month,release_day,release_year
0,tt0249516,Foodfight,91.0,"Action,Animation,Comedy",1.9,8248,26,45000000,0,73706,Dec,31,2012
1,tt0326592,The_Overnight,88.0,NaN,7.5,24,21,200000,1109808,1165996,Jun,19,2015
2,tt3844362,The_Overnight,79.0,"Comedy,Mystery",6.1,14828,21,200000,1109808,1165996,Jun,19,2015
3,tt0337692,On_the_Road,124.0,"Adventure,Drama,Romance",6.1,37886,17,25000000,720828,9313302,Mar,22,2013
4,tt4339118,On_the_Road,89.0,Drama,6.0,6,17,25000000,720828,9313302,Mar,22,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2870,tt8680254,Richard_III,NaN,Drama,9.1,28,65,9200000,2684904,4199334,Dec,29,1995
2871,tt8824064,Heroes,88.0,Documentary,7.3,7,12,400000,655538,655538,Oct,24,2008
2872,tt8976772,Push,92.0,Documentary,7.3,33,70,38000000,31811527,49678401,Feb,6,2009
2873,tt9024106,Unplanned,106.0,"Biography,Drama",6.3,5945,33,6000000,18107621,18107621,Mar,29,2019
2874,tt9248762,The_Terrorist,NaN,Thriller,6.0,6,48,25000,195043,195043,Jan,14,2000

In [12]:
sent_profit_df = pd.merge(movie_df, df_t)
sent_profit_df.head(10)

,tconst,primary_title,runtime_minutes,genres,averagerating,numvotes,id,production_budget,domestic_gross,worldwide_gross,release_month,release_day,release_year,review,review_as_string,polarity,subjectivity
0,tt0249516,Foodfight,91.0,"Action,Animation,Comedy",1.9,8248,26,45000000.0,0.0,73706.0,Dec,31,2012,"['Odd adventure-comedy has lots of innuendo, c...","Odd adventure-comedy has lots of innuendo, car...",0.011111,0.416667
1,tt0398286,Tangled,100.0,"Adventure,Animation,Comedy",7.8,366366,15,260000000.0,200821936.0,586477240.0,Nov,24,2010,['This snappy role reversal may or may not app...,This snappy role reversal may or may not appea...,0.279006,0.481250
2,tt0448115,Shazam,132.0,"Action,Adventure,Comedy",7.4,109051,97,85000000.0,139606856.0,362899733.0,Apr,5,2019,"[""It's an interesting departure for Swedish ho...",It's an interesting departure for Swedish horr...,0.051822,0.535101
3,tt0466893,Margaret,150.0,Drama,6.5,14708,27,14000000.0,47185.0,623292.0,Sep,30,2011,['Margaret is less about plot mechanics than a...,Margaret is less about plot mechanics than abo...,0.111290,0.517119
4,tt0477080,Unstoppable,98.0,"Action,Thriller",6.8,173019,19,95000000.0,81562942.0,165720921.0,Nov,12,2010,['Snipes sempre uma presena interessante em c...,Snipes sempre uma presena interessante em cen...,0.000000,0.000000
5,tt3070502,Unstoppable,65.0,Documentary,4.3,551,19,95000000.0,81562942.0,165720921.0,Nov,12,2010,['Snipes sempre uma presena interessante em c...,Snipes sempre uma presena interessante em cen...,0.000000,0.000000
6,tt9225192,Unstoppable,116.0,"Action,Crime",6.5,576,19,95000000.0,81562942.0,165720921.0,Nov,12,2010,['Snipes sempre uma presena interessante em c...,Snipes sempre uma presena interessante em cen...,0.000000,0.000000
7,tt9906218,Unstoppable,84.0,Documentary,8.1,8,19,95000000.0,81562942.0,165720921.0,Nov,12,2010,['Snipes sempre uma presena interessante em c...,Snipes sempre uma presena interessante em cen...,0.000000,0.000000
8,tt0490215,Silence,161.0,"Adventure,Drama,History",7.2,85242,42,46500000.0,7100177.0,23726626.0,Dec,23,2016,[],NaN,0.000000,0.000000
9,tt1731755,Silence,110.0,"Drama,War",6.7,373,42,46500000.0,7100177.0,23726626.0,Dec,23,2016,[],NaN,0.000000,0.000000

In [19]:
#Just for safe keeping 

sent_profit_df.to_csv('/Users/markdetiberiis/MovieMonths/sent&profit.csv')

In [20]:
sent_profit_df.drop(['review','review_as_string'], axis = 1, inplace = True)

In [21]:
sent_profit_df.head()

,tconst,primary_title,runtime_minutes,genres,averagerating,numvotes,id,production_budget,domestic_gross,worldwide_gross,release_month,release_day,release_year,polarity,subjectivity
0,tt0249516,Foodfight,91.0,"Action,Animation,Comedy",1.9,8248,26,45000000,0,73706,Dec,31,2012,0.011111,0.416667
1,tt0326592,The_Overnight,88.0,NaN,7.5,24,21,200000,1109808,1165996,Jun,19,2015,0.091607,0.588829
2,tt3844362,The_Overnight,79.0,"Comedy,Mystery",6.1,14828,21,200000,1109808,1165996,Jun,19,2015,0.091607,0.588829
3,tt0337692,On_the_Road,124.0,"Adventure,Drama,Romance",6.1,37886,17,25000000,720828,9313302,Mar,22,2013,0.047459,0.524222
4,tt4339118,On_the_Road,89.0,Drama,6.0,6,17,25000000,720828,9313302,Mar,22,2013,0.047459,0.524222

In [13]:
#sent_profit_df['total_profits'] = sent_profit_df['worldwide_gross'] - sent_profit_df['production_budget']

In [14]:
sent_profit_df

,tconst,primary_title,runtime_minutes,genres,averagerating,numvotes,id,production_budget,domestic_gross,worldwide_gross,release_month,release_day,release_year,review,review_as_string,polarity,subjectivity
0,tt0249516,Foodfight,91.0,"Action,Animation,Comedy",1.9,8248,26,45000000.0,0.0,73706.0,Dec,31,2012,"['Odd adventure-comedy has lots of innuendo, c...","Odd adventure-comedy has lots of innuendo, car...",0.011111,0.416667
1,tt0398286,Tangled,100.0,"Adventure,Animation,Comedy",7.8,366366,15,260000000.0,200821936.0,586477240.0,Nov,24,2010,['This snappy role reversal may or may not app...,This snappy role reversal may or may not appea...,0.279006,0.481250
2,tt0448115,Shazam,132.0,"Action,Adventure,Comedy",7.4,109051,97,85000000.0,139606856.0,362899733.0,Apr,5,2019,"[""It's an interesting departure for Swedish ho...",It's an interesting departure for Swedish horr...,0.051822,0.535101
3,tt0466893,Margaret,150.0,Drama,6.5,14708,27,14000000.0,47185.0,623292.0,Sep,30,2011,['Margaret is less about plot mechanics than a...,Margaret is less about plot mechanics than abo...,0.111290,0.517119
4,tt0477080,Unstoppable,98.0,"Action,Thriller",6.8,173019,19,95000000.0,81562942.0,165720921.0,Nov,12,2010,['Snipes sempre uma presena interessante em c...,Snipes sempre uma presena interessante em cen...,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
865,tt8259618,Serendipity,107.0,Drama,8.8,53,53,28000000.0,50255310.0,77477297.0,Oct,5,2001,"['""Serendipity"" will serve as an excellent gau...","""Serendipity"" will serve as an excellent gauge...",0.245336,0.610054
866,tt8653840,Flawless,97.0,Drama,6.4,34,14,27000000.0,4485485.0,4485485.0,Nov,24,1999,"['Outdated and schematic, this two-character m...","Outdated and schematic, this two-character mel...",0.235317,0.425198
867,tt8824064,Heroes,88.0,Documentary,7.3,7,12,400000.0,655538.0,655538.0,Oct,24,2008,"['The subject deserved a better film.', ""Samir...","The subject deserved a better film., Samir Kar...",0.077778,0.311111
868,tt8976772,Push,92.0,Documentary,7.3,33,70,38000000.0,31811527.0,49678401.0,Feb,6,2009,[],NaN,0.000000,0.000000
869,tt9024106,Unplanned,106.0,"Biography,Drama",6.3,5945,33,6000000.0,18107621.0,18107621.0,Mar,29,2019,['Unplanned will make you writhe in agony over...,Unplanned will make you writhe in agony over h...,-0.081710,0.519733

In [15]:
sent_profit_df.to_csv('/Users/markdetiberiis/MovieMonths/sent&profit.csv')