In [2]:
#Import everything 

import pandas as pd
import numpy as np
import requests
import json
from bs4 import BeautifulSoup
import csv

import matplotlib.pyplot as plt
plt.style.use('seaborn')


#starting sentiment analysis 

import nltk
from nltk.corpus import stopwords

#Lemmatization
#Basically changing word like resturants to resturant(words to word) bc really they mean the same thing 

import textblob

from textblob import Word

from nltk.stem import WordNetLemmatizer 
  
lemmatizer = WordNetLemmatizer() 

#Sentiment Analysis

from textblob import TextBlob

In [3]:
movie_df = pd.read_csv('/Users/markdetiberiis/MovieMonths/movie_df.csv')

In [5]:
df_t = pd.read_csv('/Users/markdetiberiis/MovieMonths/sentiment_reviews.csv')

In [6]:
movie_df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,tconst,primary_title,runtime_minutes,genres,averagerating,numvotes,id,production_budget,domestic_gross,worldwide_gross,release_month,release_day,release_year
0,0,0,0,tt0249516,Foodfight,91.0,"Action,Animation,Comedy",1.9,8248,26,45000000,0,73706,Dec,31,2012
1,1,1,1,tt0326592,The_Overnight,88.0,NaN,7.5,24,21,200000,1109808,1165996,Jun,19,2015
2,2,2,2,tt3844362,The_Overnight,79.0,"Comedy,Mystery",6.1,14828,21,200000,1109808,1165996,Jun,19,2015
3,3,3,3,tt0337692,On_the_Road,124.0,"Adventure,Drama,Romance",6.1,37886,17,25000000,720828,9313302,Mar,22,2013
4,4,4,4,tt4339118,On_the_Road,89.0,Drama,6.0,6,17,25000000,720828,9313302,Mar,22,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2870,2870,2870,2870,tt8680254,Richard_III,NaN,Drama,9.1,28,65,9200000,2684904,4199334,Dec,29,1995
2871,2871,2871,2871,tt8824064,Heroes,88.0,Documentary,7.3,7,12,400000,655538,655538,Oct,24,2008
2872,2872,2872,2872,tt8976772,Push,92.0,Documentary,7.3,33,70,38000000,31811527,49678401,Feb,6,2009
2873,2873,2873,2873,tt9024106,Unplanned,106.0,"Biography,Drama",6.3,5945,33,6000000,18107621,18107621,Mar,29,2019
2874,2874,2874,2874,tt9248762,The_Terrorist,NaN,Thriller,6.0,6,48,25000,195043,195043,Jan,14,2000

In [8]:
df_t['primary_title'] = df_t['Unnamed: 0']

In [9]:
df_t

,Unnamed: 0,review,review_as_string,word_count,char_count,stopword_count,stopword_percentage,polarity,subjectivity,primary_title
0,Foodfight,"['Odd adventure-comedy has lots of innuendo, c...","Odd adventure-comedy has lots of innuendo, car...",25,178,7,0.280000,0.011111,0.416667,Foodfight
1,The_Overnight,"['Brice goes a bit too broad at times, but he ...","Brice goes a bit too broad at times, but he ke...",306,1799,130,0.424837,0.091607,0.588829,The_Overnight
2,On_the_Road,"[""It's not a wreck of a movie; it's not a slee...",It's not a wreck of a movie; it's not a sleek ...,266,1505,112,0.421053,0.047459,0.524222,On_the_Road
3,The_Secret_Life_of_Walter_Mitty,['This is one of the more disappointing effort...,This is one of the more disappointing efforts ...,300,1783,123,0.410000,0.006426,0.595032,The_Secret_Life_of_Walter_Mitty
4,A_Walk_Among_the_Tombstones,"[""Frank's film is much more of a noir outing t...",Frank's film is much more of a noir outing tha...,269,1551,102,0.379182,0.143027,0.490646,A_Walk_Among_the_Tombstones
...,...,...,...,...,...,...,...,...,...,...
1751,The_Specials,"['""The Specials,"" in the end, is not a very co...","""The Specials,"" in the end, is not a very comp...",218,1299,85,0.389908,0.236826,0.544032,The_Specials
1752,Never_Again,"[""If Never Again is the best film we can get a...",If Never Again is the best film we can get abo...,204,1224,75,0.367647,0.053102,0.655267,Never_Again
1753,Heroes,"['The subject deserved a better film.', ""Samir...","The subject deserved a better film., Samir Kar...",16,103,4,0.250000,0.077778,0.311111,Heroes
1754,Push,[],NaN,0,0,0,NaN,0.000000,0.000000,Push
1755,Unplanned,['Unplanned will make you writhe in agony over...,Unplanned will make you writhe in agony over h...,250,1549,102,0.408000,-0.081710,0.519733,Unplanned

In [12]:
df_t.drop(['Unnamed: 0','word_count','char_count','stopword_percentage','stopword_count','char_count','word_count'], axis = 1, inplace = True)

In [13]:
df_t

,review,review_as_string,polarity,subjectivity,primary_title
0,"['Odd adventure-comedy has lots of innuendo, c...","Odd adventure-comedy has lots of innuendo, car...",0.011111,0.416667,Foodfight
1,"['Brice goes a bit too broad at times, but he ...","Brice goes a bit too broad at times, but he ke...",0.091607,0.588829,The_Overnight
2,"[""It's not a wreck of a movie; it's not a slee...",It's not a wreck of a movie; it's not a sleek ...,0.047459,0.524222,On_the_Road
3,['This is one of the more disappointing effort...,This is one of the more disappointing efforts ...,0.006426,0.595032,The_Secret_Life_of_Walter_Mitty
4,"[""Frank's film is much more of a noir outing t...",Frank's film is much more of a noir outing tha...,0.143027,0.490646,A_Walk_Among_the_Tombstones
...,...,...,...,...,...
1751,"['""The Specials,"" in the end, is not a very co...","""The Specials,"" in the end, is not a very comp...",0.236826,0.544032,The_Specials
1752,"[""If Never Again is the best film we can get a...",If Never Again is the best film we can get abo...,0.053102,0.655267,Never_Again
1753,"['The subject deserved a better film.', ""Samir...","The subject deserved a better film., Samir Kar...",0.077778,0.311111,Heroes
1754,[],NaN,0.000000,0.000000,Push
1755,['Unplanned will make you writhe in agony over...,Unplanned will make you writhe in agony over h...,-0.081710,0.519733,Unplanned

In [14]:
movie_df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,tconst,primary_title,runtime_minutes,genres,averagerating,numvotes,id,production_budget,domestic_gross,worldwide_gross,release_month,release_day,release_year
0,0,0,0,tt0249516,Foodfight,91.0,"Action,Animation,Comedy",1.9,8248,26,45000000,0,73706,Dec,31,2012
1,1,1,1,tt0326592,The_Overnight,88.0,NaN,7.5,24,21,200000,1109808,1165996,Jun,19,2015
2,2,2,2,tt3844362,The_Overnight,79.0,"Comedy,Mystery",6.1,14828,21,200000,1109808,1165996,Jun,19,2015
3,3,3,3,tt0337692,On_the_Road,124.0,"Adventure,Drama,Romance",6.1,37886,17,25000000,720828,9313302,Mar,22,2013
4,4,4,4,tt4339118,On_the_Road,89.0,Drama,6.0,6,17,25000000,720828,9313302,Mar,22,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2870,2870,2870,2870,tt8680254,Richard_III,NaN,Drama,9.1,28,65,9200000,2684904,4199334,Dec,29,1995
2871,2871,2871,2871,tt8824064,Heroes,88.0,Documentary,7.3,7,12,400000,655538,655538,Oct,24,2008
2872,2872,2872,2872,tt8976772,Push,92.0,Documentary,7.3,33,70,38000000,31811527,49678401,Feb,6,2009
2873,2873,2873,2873,tt9024106,Unplanned,106.0,"Biography,Drama",6.3,5945,33,6000000,18107621,18107621,Mar,29,2019
2874,2874,2874,2874,tt9248762,The_Terrorist,NaN,Thriller,6.0,6,48,25000,195043,195043,Jan,14,2000

In [16]:
movie_df.drop(['Unnamed: 0','Unnamed: 0.1','Unnamed: 0.1.1'], axis = 1, inplace = True)

In [17]:
movie_df

,tconst,primary_title,runtime_minutes,genres,averagerating,numvotes,id,production_budget,domestic_gross,worldwide_gross,release_month,release_day,release_year
0,tt0249516,Foodfight,91.0,"Action,Animation,Comedy",1.9,8248,26,45000000,0,73706,Dec,31,2012
1,tt0326592,The_Overnight,88.0,NaN,7.5,24,21,200000,1109808,1165996,Jun,19,2015
2,tt3844362,The_Overnight,79.0,"Comedy,Mystery",6.1,14828,21,200000,1109808,1165996,Jun,19,2015
3,tt0337692,On_the_Road,124.0,"Adventure,Drama,Romance",6.1,37886,17,25000000,720828,9313302,Mar,22,2013
4,tt4339118,On_the_Road,89.0,Drama,6.0,6,17,25000000,720828,9313302,Mar,22,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2870,tt8680254,Richard_III,NaN,Drama,9.1,28,65,9200000,2684904,4199334,Dec,29,1995
2871,tt8824064,Heroes,88.0,Documentary,7.3,7,12,400000,655538,655538,Oct,24,2008
2872,tt8976772,Push,92.0,Documentary,7.3,33,70,38000000,31811527,49678401,Feb,6,2009
2873,tt9024106,Unplanned,106.0,"Biography,Drama",6.3,5945,33,6000000,18107621,18107621,Mar,29,2019
2874,tt9248762,The_Terrorist,NaN,Thriller,6.0,6,48,25000,195043,195043,Jan,14,2000

In [18]:
sent_profit_df = pd.merge(movie_df, df_t)
sent_profit_df.head()

,tconst,primary_title,runtime_minutes,genres,averagerating,numvotes,id,production_budget,domestic_gross,worldwide_gross,release_month,release_day,release_year,review,review_as_string,polarity,subjectivity
0,tt0249516,Foodfight,91.0,"Action,Animation,Comedy",1.9,8248,26,45000000,0,73706,Dec,31,2012,"['Odd adventure-comedy has lots of innuendo, c...","Odd adventure-comedy has lots of innuendo, car...",0.011111,0.416667
1,tt0326592,The_Overnight,88.0,NaN,7.5,24,21,200000,1109808,1165996,Jun,19,2015,"['Brice goes a bit too broad at times, but he ...","Brice goes a bit too broad at times, but he ke...",0.091607,0.588829
2,tt3844362,The_Overnight,79.0,"Comedy,Mystery",6.1,14828,21,200000,1109808,1165996,Jun,19,2015,"['Brice goes a bit too broad at times, but he ...","Brice goes a bit too broad at times, but he ke...",0.091607,0.588829
3,tt0337692,On_the_Road,124.0,"Adventure,Drama,Romance",6.1,37886,17,25000000,720828,9313302,Mar,22,2013,"[""It's not a wreck of a movie; it's not a slee...",It's not a wreck of a movie; it's not a sleek ...,0.047459,0.524222
4,tt4339118,On_the_Road,89.0,Drama,6.0,6,17,25000000,720828,9313302,Mar,22,2013,"[""It's not a wreck of a movie; it's not a slee...",It's not a wreck of a movie; it's not a sleek ...,0.047459,0.524222

In [19]:
#Just for safe keeping 

sent_profit_df.to_csv('/Users/markdetiberiis/MovieMonths/sent&profit.csv')

In [20]:
sent_profit_df.drop(['review','review_as_string'], axis = 1, inplace = True)

In [21]:
sent_profit_df.head()

,tconst,primary_title,runtime_minutes,genres,averagerating,numvotes,id,production_budget,domestic_gross,worldwide_gross,release_month,release_day,release_year,polarity,subjectivity
0,tt0249516,Foodfight,91.0,"Action,Animation,Comedy",1.9,8248,26,45000000,0,73706,Dec,31,2012,0.011111,0.416667
1,tt0326592,The_Overnight,88.0,NaN,7.5,24,21,200000,1109808,1165996,Jun,19,2015,0.091607,0.588829
2,tt3844362,The_Overnight,79.0,"Comedy,Mystery",6.1,14828,21,200000,1109808,1165996,Jun,19,2015,0.091607,0.588829
3,tt0337692,On_the_Road,124.0,"Adventure,Drama,Romance",6.1,37886,17,25000000,720828,9313302,Mar,22,2013,0.047459,0.524222
4,tt4339118,On_the_Road,89.0,Drama,6.0,6,17,25000000,720828,9313302,Mar,22,2013,0.047459,0.524222

In [22]:
sent_profit_df['total_profits'] = sent_profit_df['worldwide_gross'] - sent_profit_df['production_budget']