In [3]:
#Import everything 

import pandas as pd
import numpy as np
import requests
import json
from bs4 import BeautifulSoup
import csv

import matplotlib.pyplot as plt
plt.style.use('seaborn')


#starting sentiment analysis 

import nltk
from nltk.corpus import stopwords

#Lemmatization
#Basically changing word like resturants to resturant(words to word) bc really they mean the same thing 

import textblob

from textblob import Word

from nltk.stem import WordNetLemmatizer 
  
lemmatizer = WordNetLemmatizer() 

#Sentiment Analysis

from textblob import TextBlob

In [4]:
#Create a function to gather average number of words per review

def average_words(x):
    words = x.split() #to give the # of words
    return sum(len(word)for word in words) / len(words)

In [5]:
movie_df = pd.read_csv('/Users/markdetiberiis/MovieMonths/movie_df.csv')

In [6]:
f = open('/Users/markdetiberiis/MovieMonths/movie_titles.csv')
csv_f = csv.reader(f)

In [7]:
with open('/Users/markdetiberiis/MovieMonths/movie_titles.csv', newline='') as f:
    reader = csv.reader(f)
    titles = list(reader)

In [8]:
new_list = []
for v in titles:
    new_list.append(v[0])

In [9]:
new_list[10]

'The_Rum_Diary'

In [10]:
len(new_list)

2876

In [11]:
new_list[-1]

'The_Terrorist'

In [12]:
#stop words that dont add value

other_stopwords = ['us','get','also','would','end']

In [14]:
#Need a counter to count which index to set primary_title equal too

In [37]:
#Collect all reviews from each movie 

di = {}

for title in new_list:
    R = requests.get('https://www.rottentomatoes.com/m/{}'.format(title))
    if R.status_code == 404:
    
        continue 
    elif R.status_code == 500:
      
        continue 
    else:
        soup = BeautifulSoup(R.text, 'html.parser')
#collect the div content 
        divs = soup.findAll(class_='media-body quote_bubble__quote')

        reviews = []
        for div in divs:
            reviews.append(div.find('p').text)

        clean_reviews = []

        for x in reviews:
            clean_reviews.append(x.strip())
            
            
        di[title] = {"review": clean_reviews}
        
        print(title, '\t', di[title])

AttributeError: 'str' object has no attribute 'append'

In [38]:
#display reviews

di

{}

In [23]:
reviews_df = pd.DataFrame(di)
 
#swap rows and columns

df_t = reviews_df.T

In [21]:

#add movie name 
df_t['primary_title'] = title
        #reviews_df['movie_name'] = new_list[title]

In [30]:
df_t.head()

                                                                            review
Foodfight                        [Odd adventure-comedy has lots of innuendo, ca...
The_Overnight                    [Brice goes a bit too broad at times, but he k...
On_the_Road                      [It's not a wreck of a movie; it's not a sleek...
The_Secret_Life_of_Walter_Mitty  [This is one of the more disappointing efforts...
A_Walk_Among_the_Tombstones      [Frank's film is much more of a noir outing th...

In [33]:
#List to string 
def listToString(s):  
    
    # initialize an empty string 
    str1 = ""  
    
    # traverse in the string   
    for ele in s:  
        str1 += ele   
    
    # return string   
    return str1

In [34]:
listToString(clean_reviews)

'Unplanned will make you writhe in agony over how such an ugly, malicious and potentially dangerous piece of religious and political propaganda could have made its way into this world.Writer-directors Chuck Konzelman and Cary Solomon spend more time making their talking points than developing their characters, who exist merely to make their arguments.One wonders why Unplanned, which resembles a basic cable television movie in its mediocre production values and subpar performances, was made.Abortion is a serious topic. This movie is ridiculous.They\'re performers in a parable traced over a Chick tract, filmed with a bland competence at odds with the true perversity of the material. Old-school Pure Flix: Welcome back!It\'s strictly set up to rally its base.It\'s not going to change any minds.And even if presented to a mixed audience, Unplanned is neither smart enough to rally anyone to its cause, nor dumb enough to alienate those who believe its message. As propaganda, therefore, it\'s basically useless.The thing about propaganda is, it has to be persuasive to be effective. Unplanned is too simplistic to do much more than preach to the converted.Bland acting, boring writing, everyone doing their best but simply not being very good at the things they\'re trying to do, bless their hearts.This serves nobody but the people that made it. It\'s lining their pockets."Unplanned" doesn\'t come close to exploring all of the different combating arguments connected to abortion, but the case it makes is sobering to consider.'

In [41]:
df_t['review_as_string'] = df_t['review'].apply(', '.join)

In [42]:
df_t

,review,review_as_string
Foodfight,"[Odd adventure-comedy has lots of innuendo, ca...","Odd adventure-comedy has lots of innuendo, car..."
The_Overnight,"[Brice goes a bit too broad at times, but he k...","Brice goes a bit too broad at times, but he ke..."
On_the_Road,[It's not a wreck of a movie; it's not a sleek...,It's not a wreck of a movie; it's not a sleek ...
The_Secret_Life_of_Walter_Mitty,[This is one of the more disappointing efforts...,This is one of the more disappointing efforts ...
A_Walk_Among_the_Tombstones,[Frank's film is much more of a noir outing th...,Frank's film is much more of a noir outing tha...
...,...,...
The_Specials,"[""The Specials,"" in the end, is not a very com...","""The Specials,"" in the end, is not a very comp..."
Never_Again,[If Never Again is the best film we can get ab...,If Never Again is the best film we can get abo...
Heroes,"[The subject deserved a better film., Samir Ka...","The subject deserved a better film., Samir Kar..."
Push,[],
Unplanned,[Unplanned will make you writhe in agony over ...,Unplanned will make you writhe in agony over h...

In [44]:

#Gather the word length of each review
df_t['word_count'] = df_t['review_as_string'].apply(lambda x: len(x.split()))
#Gather the character count of each review

In [45]:
df_t['char_count'] = df_t['review_as_string'].apply(lambda x: len(x))

In [47]:
df_t

,review,review_as_string,word_count,char_count
Foodfight,"[Odd adventure-comedy has lots of innuendo, ca...","Odd adventure-comedy has lots of innuendo, car...",25,178
The_Overnight,"[Brice goes a bit too broad at times, but he k...","Brice goes a bit too broad at times, but he ke...",306,1799
On_the_Road,[It's not a wreck of a movie; it's not a sleek...,It's not a wreck of a movie; it's not a sleek ...,266,1505
The_Secret_Life_of_Walter_Mitty,[This is one of the more disappointing efforts...,This is one of the more disappointing efforts ...,300,1783
A_Walk_Among_the_Tombstones,[Frank's film is much more of a noir outing th...,Frank's film is much more of a noir outing tha...,269,1551
...,...,...,...,...
The_Specials,"[""The Specials,"" in the end, is not a very com...","""The Specials,"" in the end, is not a very comp...",218,1299
Never_Again,[If Never Again is the best film we can get ab...,If Never Again is the best film we can get abo...,204,1224
Heroes,"[The subject deserved a better film., Samir Ka...","The subject deserved a better film., Samir Kar...",16,103
Push,[],,0,0
Unplanned,[Unplanned will make you writhe in agony over ...,Unplanned will make you writhe in agony over h...,250,1549

In [46]:
df_t['average_word_length'] = df_t['review_as_string'].apply(lambda x: average_words(x))

ZeroDivisionError: division by zero

In [49]:
stop_words = stopwords.words('english')
#How many stop words in each review 
df_t['stopword_count'] = df_t['review_as_string'].apply(lambda x: len([word for word in x.split() if word in stop_words]))
df_t['stopword_percentage'] = df_t['stopword_count']/df_t['word_count']
#Data Cleaning

In [50]:

#looping through each word which is x
#splititng x givng us every word
#every word we get back were lowering
df_t['lowercase'] = df_t['review_as_string'].apply(lambda x: " ".join(word.lower() for word in x.split()))
#removing puncuations
df_t['punctuation'] = df_t['lowercase'].astype(str).str.replace('[^\w\s]', '')
df_t['stopwords'] = df_t['punctuation'].apply(lambda x: " ".join(word for word in x.split() if word not in stop_words))
df_t['clean_review'] = df_t['stopwords'].apply(lambda x: " ".join(word for word in x.split() if word not in other_stopwords))

In [51]:

#an array of every single word in all the reviews

#pd.Series(" ".join(reviews_df['clean_review']).split()).value_counts()[:30]
df_t['lemmatized'] = df_t['clean_review'].apply(lambda x: " ".join(Word(word).lemmatize() for word in x.split()))
#Sentiment Analysis
df_t['polarity'] = df_t['lemmatized'].apply(lambda x: TextBlob(x).sentiment[0])
df_t['subjectivity'] = df_t['lemmatized'].apply(lambda x: TextBlob(x).sentiment[1])
#clean up columns we dont need now
df_t.drop(['lowercase','punctuation','stopwords','clean_review', 'lemmatized'], axis = 1, inplace = True)
#df_t['total_polarity'] = df_t.polarity.mean()

In [54]:

      
    
    #reviews_df['primary_title'] = movie_df['primary_title'][count]
    
full_movie_df = pd.merge(movie_df, df_t, on = "primary_title")
full_movie_df.drop(['Unnamed: 0.1','word_count','char_count', 'runtime_minutes'], axis = 1, inplace = True)
    
#shange dict to a df

KeyError: 'primary_title'

In [52]:
movie_df

,Unnamed: 0,Unnamed: 0.1,tconst,primary_title,runtime_minutes,genres,averagerating,numvotes,id,production_budget,domestic_gross,worldwide_gross,release_month,release_day,release_year
0,0,0,tt0249516,Foodfight,91.0,"Action,Animation,Comedy",1.9,8248,26,45000000,0,73706,Dec,31,2012
1,1,1,tt0326592,The_Overnight,88.0,NaN,7.5,24,21,200000,1109808,1165996,Jun,19,2015
2,2,2,tt3844362,The_Overnight,79.0,"Comedy,Mystery",6.1,14828,21,200000,1109808,1165996,Jun,19,2015
3,3,3,tt0337692,On_the_Road,124.0,"Adventure,Drama,Romance",6.1,37886,17,25000000,720828,9313302,Mar,22,2013
4,4,4,tt4339118,On_the_Road,89.0,Drama,6.0,6,17,25000000,720828,9313302,Mar,22,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2870,2870,2870,tt8680254,Richard_III,NaN,Drama,9.1,28,65,9200000,2684904,4199334,Dec,29,1995
2871,2871,2871,tt8824064,Heroes,88.0,Documentary,7.3,7,12,400000,655538,655538,Oct,24,2008
2872,2872,2872,tt8976772,Push,92.0,Documentary,7.3,33,70,38000000,31811527,49678401,Feb,6,2009
2873,2873,2873,tt9024106,Unplanned,106.0,"Biography,Drama",6.3,5945,33,6000000,18107621,18107621,Mar,29,2019
2874,2874,2874,tt9248762,The_Terrorist,NaN,Thriller,6.0,6,48,25000,195043,195043,Jan,14,2000

In [56]:
df_t.to_csv('/Users/markdetiberiis/MovieMonths/sentiment_reviews.csv')

In [57]:


movie_df.to_csv('/Users/markdetiberiis/MovieMonths/movie_df.csv')