In [ ]:
#Not sure if i need this page at all

In [2]:
#Import everything 

import pandas as pd
import numpy as np
import requests
import json
from bs4 import BeautifulSoup
import csv

import matplotlib.pyplot as plt
plt.style.use('seaborn')

In [3]:
f = open('/Users/markdetiberiis/MovieMonths/movie_titles.csv')
csv_f = csv.reader(f)

In [4]:
#In itialize csv contents in a list called titles

movie_df = pd.read_csv('/Users/markdetiberiis/MovieMonths/movie_df.csv')
movie_df.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,tconst,primary_title,runtime_minutes,genres,averagerating,numvotes,id,production_budget,domestic_gross,worldwide_gross,release_month,release_day,release_year
0,0,0,0,tt0249516,Foodfight,91.0,"Action,Animation,Comedy",1.9,8248,26,45000000.0,0.0,73706.0,Dec,31,2012
1,1,1,1,tt0326592,The Overnight,88.0,NaN,7.5,24,21,200000.0,1109808.0,1165996.0,Jun,19,2015
2,2,2,2,tt3844362,The Overnight,79.0,"Comedy,Mystery",6.1,14828,21,200000.0,1109808.0,1165996.0,Jun,19,2015
3,3,3,3,tt0337692,On the Road,124.0,"Adventure,Drama,Romance",6.1,37886,17,25000000.0,720828.0,9313302.0,Mar,22,2013
4,4,4,4,tt4339118,On the Road,89.0,Drama,6.0,6,17,25000000.0,720828.0,9313302.0,Mar,22,2013

In [5]:
with open('/Users/markdetiberiis/MovieMonths/movie_titles.csv', newline='') as f:
    reader = csv.reader(f)
    titles = list(reader)

#print(titles)

In [6]:
len(titles)

2876

In [7]:
new_list = []
for v in titles:
    new_list.append(v[0])

In [8]:
counter = 0

for title in new_list:
    counter += 1
    
print(counter)

2876

2875

In [10]:
titles

[['primary_title'],
 ['Foodfight'],
 ['The Overnight'],
 ['The Overnight'],
 ['On the Road'],
 ['On the Road'],
 ['On the Road'],
 ['The Secret Life of Walter Mitty'],
 ['A Walk Among the Tombstones'],
 ['Jurassic World'],
 ['The Rum Diary'],
 ['The Three Stooges'],
 ['Andersons Cross'],
 ['Tangled'],
 ['John Carter'],
 ['Action Jackson'],
 ['Dinner for Schmucks'],
 ['The A-Team'],
 ['The Possession'],
 ['Real Steel'],
 ['The Giver'],
 ['Toy Story 3'],
 ['Alita Battle Angel'],
 ['Lincoln'],
 ['Before We Go'],
 ['Before We Go'],
 ['The History of Love'],
 ['Shazam'],
 ['Puss in Boots'],
 ['Wonder Woman'],
 ['Wonder Woman'],
 ['Wonder Woman'],
 ['42'],
 ['Life of Pi'],
 ['The Crazies'],
 ['The Equalizer'],
 ['Captain America The First Avenger'],
 ['Sin City A Dame to Kill For'],
 ['House at the End of the Drive'],
 ['Piranha 3D'],
 ['Margaret'],
 ['Ex Machina'],
 ['Tower Heist'],
 ['The Smurfs'],
 ['The Mechanic'],
 ['Hail Caesar'],
 ['Unstoppable'],
 ['Unstoppable'],
 ['Unstoppable'],
 ['Unstoppable'],
 ['The Tree of Life'],
 ['Ant-Man'],
 ['Season of the Witch'],
 ['The Losers'],
 ['The Losers'],
 ['Hall Pass'],
 ['The Croods'],
 ['Barry Munday'],
 ['Red Tails'],
 ['Silence'],
 ['Silence'],
 ['Silence'],
 ['Silence'],
 ['Something Borrowed'],
 ['Tulip Fever'],
 ['Furry Vengeance'],
 ['Ramona and Beezus'],
 ['Rings'],
 ['A Thousand Words'],
 ['Whats Your Number?'],
 ['Samsara'],
 ['Man of Steel'],
 ['The Illusionist'],
 ['Drive'],
 ['Drive'],
 ['The Wolfman'],
 ['The Boxtrolls'],
 ['The Man Who Knew Infinity'],
 ['The Incredible Burt Wonderstone'],
 ['Dallas Buyers Club'],
 ['Jack Reacher'],
 ['RIPD'],
 ['Clash of the Titans'],
 ['Clash of the Titans'],
 ['Nemesis'],
 ['Thor'],
 ['Red Dog'],
 ['Red Dog'],
 ['Warcraft'],
 ['Its Kind of a Funny Story'],
 ['The Mule'],
 ['The Mule'],
 ['The Mule'],
 ['Tooth Fairy'],
 ['Tooth Fairy'],
 ['Jack and Jill'],
 ['Take Me Home Tonight'],
 ['Percy Jackson & the Olympians The Lightning Thief'],
 ['Shes Out of My League'],
 ['The Book Thief'],
 ['Conan the Barbarian'],
 ['Conan the Barbarian'],
 ['Interstellar'],
 ['World War Z'],
 ['Flipped'],
 ['Flipped'],
 ['Valentines Day'],
 ['Priest'],
 ['Dracula Untold'],
 ['Godzilla'],
 ['Godzilla'],
 ['Hotel Transylvania'],
 ['Pet Sematary'],
 ['Pet Sematary'],
 ['The Town'],
 ['The Kids Are All Right'],
 ['The Avengers'],
 ['The Avengers'],
 ['Epic'],
 ['Risen'],
 ['Risen'],
 ['The Sweeney'],
 ['Mr Peabody & Sherman'],
 ['My Soul to Take'],
 ['Red State'],
 ['Please Give'],
 ['Eat Pray Love'],
 ['Sanctum'],
 ['Snitch'],
 ['Snitch'],
 ['The Wedding Ringer'],
 ['The Switch'],
 ['Letters to Juliet'],
 ['How to Train Your Dragon'],
 ['Shrek Forever After'],
 ['The Hobbit An Unexpected Journey'],
 ['The Thing'],
 ['The Legend of Tarzan'],
 ['The Dead Undead'],
 ['Rabbit Hole'],
 ['The Last Airbender'],
 ['Freaky Deaky'],
 ['Salt'],
 ['Source Code'],
 ['Black Swan'],
 ['Green Zone'],
 ['The Amazing Spider-Man'],
 ['The Killer Inside Me'],
 ['Robin Hood'],
 ['Robin Hood'],
 ['Robin Hood'],
 ['Robin Hood'],
 ['Robin Hood'],
 ['Robin Hood'],
 ['Robin Hood'],
 ['Robin Hood'],
 ['Reach Me'],
 ['Nine Dead'],
 ['The Sorcerers Apprentice'],
 ['The Fighter'],
 ['The Conspirator'],
 ['Hugo'],
 ['Hugo'],
 ['Little Fockers'],
 ['Justice League'],
 ['Fair Game'],
 ['Fair Game'],
 ['Sucker Punch'],
 ['Lottery Ticket'],
 ['The Chronicles of Narnia The Voyage of the Dawn Treader'],
 ['The Adventures of Tintin'],
 ['Machete'],
 ['Dear John'],
 ['Detention'],
 ['Detention'],
 ['The Green Hornet'],
 ['Hanna'],
 ['The Wolf of Wall Street'],
 ['Straw Dogs'],
 ['Megamind'],
 ['The Young Messiah'],
 ['The Iron Lady'],
 ['The Little Prince'],
 ['The Little Prince'],
 ['The Little Prince'],
 ['Knight and Day'],
 ['Dylan Dog Dead of Night'],
 ['Alice in Wonderland'],
 ['Alice in Wonderland'],
 ['Alice in Wonderland'],
 ['Alice in Wonderland'],
 ['Child 44'],
 ['The Sisterhood of Night'],
 ['The Runaways'],
 ['The Runaways'],
 ['Adam'],
 ['Adam'],
 ['Adam'],
 ['Adam'],
 ['Selma'],
 ['Centurion'],
 ['Argo'],
 ['Secretariat'],
 ['Poltergeist'],
 ['Poltergeist'],
 ['Kidnap'],
 ['Kidnap'],
 ['Hit & Run'],
 ['The Warriors Way'],
 ['The Descendants'],
 ['The Descendants'],
 ['The Eagle'],
 ['Suspiria'],
 ['The Book of Eli'],
 ['Legion'],
 ['The Bounty Hunter'],
 ['The Bounty Hunter'],
 ['The Nutcracker in 3D'],
 ['The Legend of Hercules'],
 ['Silver Linings Playbook'],
 ['Parental Guidance'],
 ['Goosebumps'],
 ['Repo Men'],
 ['The Big Year'],
 ['Life as We Know It'],
 ['Boyhood'],
 ['Water for Elephants'],
 ['Monte Carlo'],
 ['Footloose'],
 ['Footloose'],
 ['Good Intentions'],
 ['Ghost Rider Spirit of Vengeance'],
 ['Winchester'],
 ['Skyfall'],
 ['Jonah Hex'],
 ['Dark Shadows'],
 ['The Belko Experiment'],
 ['Eddie the Eagle'],
 ['Lights Out'],
 ['Lights Out'],
 ['Lights Out'],
 ['Lights Out'],
 ['The Prince'],
 ['Blended'],
 ['Lone Survivor'],
 ['Noah'],
 ['Noah'],
 ['Noah'],
 ['Paul'],
 ['Paul'],
 ['Shanghai'],
 ['Shanghai'],
 ['The Darkest Hour'],
 ['The Darkest Hour'],
 ['The Hammer'],
 ['The Hammer'],
 ['Killers'],
 ['Killers'],
 ['Ca$h'],
 ['Ca$h'],
 ['Paddington'],
 ['Trance'],
 ['Trance'],
 ['Trance'],
 ['Trance'],
 ['Jackass 3D'],
 ['Blue Valentine'],
 ['Seventh Son'],
 ['The Ides of March'],
 ['Free State of Jones'],
 ['Love Ranch'],
 ['Big Eyes'],
 ['Big Eyes'],
 ['Burlesque'],
 ['Burlesque'],
 ['Morning Glory'],
 ['Circle'],
 ['Circle'],
 ['Shutter Island'],
 ['The 5th Quarter'],
 ['Green Lantern'],
 ['Dwegons and Leprechauns'],
 ['Takers'],
 ['Death Wish'],
 ['Accidental Love'],
 ['The Ghost Writer'],
 ['Frankenweenie'],
 ['After'],
 ['After'],
 ['After'],
 ['After'],
 ['Beastly'],
 ['Freakonomics'],
 ['The Joneses'],
 ['The Joneses'],
 ['The Karate Kid'],
 ['The Karate Kid'],
 ['The Rite'],
 ['Biutiful'],
 ['The Hobbit The Desolation of Smaug'],
 ['Baggage Claim'],
 ['All Good Things'],
 ['A Walk in the Woods'],
 ['A Nightmare on Elm Street'],
 ['A Nightmare on Elm Street'],
 ['10 Cloverfield Lane'],
 ['Wuthering Heights'],
 ['Wuthering Heights'],
 ['You Will Meet a Tall Dark Stranger'],
 ['Welcome to the Rileys'],
 ['The Lincoln Lawyer'],
 ['Rango'],
 ['Step Up 3D'],
 ['The Bourne Legacy'],
 ['Casino Jack'],
 ['The Five-Year Engagement'],
 ['Diary of a Wimpy Kid'],
 ['Pound of Flesh'],
 ['Pound of Flesh'],
 ['Pound of Flesh'],
 ['Gracie'],
 ['Kites'],
 ['The Muppets'],
 ['Last Vegas'],
 ['Ouija'],
 ['Jack Ryan Shadow Recruit'],
 ['Out of the Furnace'],
 ['Beyond the Mat'],
 ['Blood Done Sign My Name'],
 ['Moneyball'],
 ['The Lone Ranger'],
 ['Doctor Strange'],
 ['Middle of Nowhere'],
 ['Escape Plan'],
 ['The Lion of Judah'],
 ['Hereafter'],
 ['The Lost City of Z'],
 ['The Back-up Plan'],
 ['Lawless'],
 ['First Man'],
 ['First Man'],
 ['The Worlds End'],
 ['Cars 2'],
 ['Kill the Messenger'],
 ['Leap Year'],
 ['Leap Year'],
 ['Womb'],
 ['Brave'],
 ['Limitless'],
 ['Limitless'],
 ['Limitless'],
 ['Legend of the Guardians The Owls of GaHoole'],
 ['Ghost in the Shell'],
 ['Resident Evil Afterlife'],
 ['Zookeeper'],
 ['Viy'],
 ['Get Him to the Greek'],
 ['Edge of Darkness'],
 ['The Debt'],
 ['The Debt'],
 ['Beautiful Boy'],
 ['Beautiful Boy'],
 ['Fat Sick & Nearly Dead'],
 ['Iron Man 2'],
 ['Let Me In'],
 ['Let Me In'],
 ['Anchorman 2 The Legend Continues'],
 ['Collide'],
 ['Collide'],
 ['Same Kind of Different as Me'],
 ['Due Date'],
 ['Hot Tub Time Machine'],
 ['Thats My Boy'],
 ['Drones'],
 ['Drones'],
 ['21 Jump Street'],
 ['Brighton Rock'],
 ['Ironclad'],
 ['Red Dawn'],
 ['RoboCop'],
 ['RoboCop'],
 ['The Future'],
 ['Wild Target'],
 ['Broken City'],
 ['Wind Walkers'],
 ['Your Highness'],
 ['Locker 13'],
 ['I Spit on Your Grave'],
 ['We Need to Talk About Kevin'],
 ['The Tourist'],
 ['Aloha'],
 ['Extraordinary Measures'],
 ['Conviction'],
 ['Conviction'],
 ['Snatched'],
 ['Snatched'],
 ['Unforgettable'],
 ['Unforgettable'],
 ['Unforgettable'],
 ['Unforgettable'],
 ['Unforgettable'],
 ['Unforgettable'],
 ['Unforgettable'],
 ['Unforgettable'],
 ['High School'],
 ['Kick-Ass'],
 ['Salvation Boulevard'],
 ['300 Rise of an Empire'],
 ['Immortals'],
 ['Daylight'],
 ['Daylight'],
 ['Daylight'],
 ['Holmes & Watson'],
 ['Incendies'],
 ['The Man with the Iron Fists'],
 ['The Cabin in the Woods'],
 ['Den of Thieves'],
 ['Sex and the City 2'],
 ['Scream 4'],
 ['The Roommate'],
 ['Hercules'],
 ['Hercules'],
 ['Hercules'],
 ['Hercules'],
 ['A Very Harold & Kumar 3D Christmas'],
 ['The Devils Double'],
 ['Dont Be Afraid of the Dark'],
 ['Venom'],
 ['Venom'],
 ['Venom'],
 ['Venom'],
 ['X-Men First Class'],
 ['2 Guns'],
 ['Small Apartments'],
 ['London Fields'],
 ['The Spy Next Door'],
 ['The Tempest'],
 ['The Tempest'],
 ['The Tempest'],
 ['Dying of the Light'],
 ['Looper'],
 ['Madagascar 3 Europes Most Wanted'],
 ['Date Night'],
 ['Fort McCoy'],
 ['Easy A'],
 ['Bad Teacher'],
 ['The Strangers Prey at Night'],
 ['The Social Network'],
 ['Cats & Dogs The Revenge of Kitty Galore'],
 ['Evil Dead'],
 ['Ghostbusters'],
 ['Ghostbusters'],
 ['N-Secure'],
 ['Teenage Mutant Ninja Turtles'],
 ['Teenage Mutant Ninja Turtles'],
 ['Warrior'],
 ['xXx Return of Xander Cage'],
 ['The Last Song'],
 ['The FP'],
 ['Animals'],
 ['Animals'],
 ['Animals'],
 ['Animals'],
 ['The Watch'],
 ['Pirates of the Caribbean On Stranger Tides'],
 ['Iron Man 3'],
 ['Kung Fu Panda 2'],
 ['Yogi Bear'],
 ['Standing Ovation'],
 ['Our Family Wedding'],
 ['Mars Needs Moms'],
 ['5050'],
 ['5050'],
 ['Seeking a Friend for the End of the World'],
 ['Bullet to the Head'],
 ['Animal Kingdom'],
 ['3 Backyards'],
 ['Devil'],
 ['There Be Dragons'],
 ['Rise of the Planet of the Apes'],
 ['Its a Wonderful Afterlife'],
 ['The Last Exorcism'],
 ['The Expendables'],
 ['Gullivers Travels'],
 ['The Reef'],
 ['Death at a Funeral'],
 ['Death at a Funeral'],
 ['Oldboy'],
 ['The Beaver'],
 ['The Lovers'],
 ['The Lovers'],
 ['Gangster Squad'],
 ['August Osage County'],
 ['Going the Distance'],
 ['Going the Distance'],
 ['Frozen'],
 ['Frozen'],
 ['Frozen'],
 ['Despicable Me'],
 ['The Twilight Saga Eclipse'],
 ['The Lucky One'],
 ['Something Wicked'],
 ['Cyrus'],
 ['Cyrus'],
 ['Lee Daniels The Butler'],
 ['Death Calls'],
 ['The Apostle'],
 ['The Apostle'],
 ['Movie 43'],
 ['Never Let Me Go'],
 ['Arthur'],
 ['Bad Company'],
 ['Bad Company'],
 ['The Perfect Host'],
 ['The Perfect Host'],
 ['47 Ronin'],
 ['Rock of Ages'],
 ['Tinker Tailor Soldier Spy'],
 ['Four Lions'],
 ['Butterfly'],
 ['Butterfly'],
 ['Butterfly'],
 ['The Great Gatsby'],
 ['The Great Gatsby'],
 ['Dredd'],
 ['The Dark Knight Rises'],
 ['Redemption'],
 ['Redemption'],
 ['Redemption'],
 ['Redemption'],
 ['Redemption'],
 ['Jack the Giant Slayer'],
 ['If I Stay'],
 ['The Infiltrator'],
 ['Passengers'],
 ['Black Mass'],
 ['Rust'],
 ['Rust'],
 ['Rust'],
 ['Rust'],
 ['The Extra Man'],
 ['Tomb Raider'],
 ['Lowriders'],
 ['The Sitter'],
 ['The Sitter'],
 ['The Cold Light of Day'],
 ['Cloud Atlas'],
 ['Made in Dagenham'],
 ['The Kid'],
 ['The Kid'],
 ['The Kid'],
 ['Coriolanus'],
 ['Coriolanus'],
 ['Stranded'],
 ['Stranded'],
 ['Stranded'],
 ['The Awakening'],
 ['The Awakening'],
 ['Pride and Prejudice and Zombies'],
 ['Upside Down'],
 ['Upside Down'],
 ['Upside Down'],
 ['Inception'],
 ['Grown Ups'],
 ['Gunless'],
 ['The Adventurer The Curse of the Midas Box'],
 ['The Adjustment Bureau'],
 ['Cop Out'],
 ['The Other Guys'],
 ['Suicide Squad'],
 ['Total Recall'],
 ['Total Recall'],
 ['Downsizing'],
 ['We Bought a Zoo'],
 ['When the Bough Breaks'],
 ['When the Bough Breaks'],
 ['In the Heart of the Sea'],
 ['The Lost Medallion The Adventures of Billy Stone'],
 ['Why Did I Get Married Too?'],
 ['The Hunger Games'],
 ['Mad Max Fury Road'],
 ['Marmaduke'],
 ['Prisoners'],
 ['It'],
 ['Taken 2'],
 ['Journey 2 The Mysterious Island'],
 ['Straight Outta Compton'],
 ['Transformers Dark of the Moon'],
 ['Winters Bone'],
 ['Unknown'],
 ['Unknown'],
 ['Unknown'],
 ['Unknown'],
 ['Happy Feet Two'],
 ['Hesher'],
 ['Wolves'],
 ['Wolves'],
 ['True Grit'],
 ['Remember Me'],
 ['Remember Me'],
 ['For Colored Girls'],
 ['Just Wright'],
 ['Star Trek Into Darkness'],
 ['Ride Along'],
 ['Ride Along'],
 ['Men in Black 3'],
 ['Beloved'],
 ['Beloved'],
 ['Beloved'],
 ['Beloved'],
 ['No Strings Attached'],
 ['Riddick'],
 ['Bucky Larson Born to Be a Star'],
 ['The Hangover Part II'],
 ['Hop'],
 ['The Best Exotic Marigold Hotel'],
 ['Table 19'],
 ['12 Strong'],
 ['Paranoia'],
 ['Paranoia'],
 ['Tracker'],
 ['You Again'],
 ['Kill the Irishman'],
 ['I Frankenstein'],
 ['Beneath Hill 60'],
 ['Somewhere'],
 ['A Lonely Place to Die'],
 ['Barneys Version'],
 ['Stone'],
 ['Stone'],
 ['Predators'],
 ['Black Nativity'],
 ['Hansel & Gretel Witch Hunters'],
 ['The Wolverine'],
 ['Arthur Christmas'],
 ['Brick Mansions'],
 ['Big Miracle'],
 ['Payback'],
 ['Payback'],
 ['Payback'],
 ['The Pirates Band of Misfits'],
 ['Deadline'],
 ['Deadline'],
 ['Deadline'],
 ['Deadpool'],
 ['Forget Me Not'],
 ['Forget Me Not'],
 ['Forget Me Not'],
 ['Forget Me Not'],
 ['Forget Me Not'],
 ['Forget Me Not'],
 ['Another Year'],
 ['Another Year'],
 ['Another Year'],
 ['Faster'],
 ['Sleeper'],
 ['The Apparition'],
 ['The Apparition'],
 ['Firestorm'],
 ['Firestorm'],
 ['Rio'],
 ['Rio'],
 ['Rio'],
 ['Bait'],
 ['Bait'],
 ['Bait'],
 ['Fright Night'],
 ['Charlie St Cloud'],
 ['Battleship'],
 ['A Little Bit of Heaven'],
 ['Submarine'],
 ['The American'],
 ['Martha Marcy May Marlene'],
 ['Under the Skin'],
 ['Quartet'],
 ['Testament of Youth'],
 ['Rise of the Guardians'],
 ['Prometheus'],
 ['Bones'],
 ['My Girlfriends Boyfriend'],
 ['Killer Elite'],
 ['Winnie the Pooh'],
 ['Monsters University'],
 ['The Help'],
 ['Gravity'],
 ['The Wall'],
 ['The Wall'],
 ['The Wall'],
 ['The Wall'],
 ['No Mans Land'],
 ['No Mans Land'],
 ['The Conjuring'],
 ['The Next Three Days'],
 ['Reign of Assassins'],
 ['Henry & Me'],
 ['Dream House'],
 ['Letters to God'],
 ['Buried'],
 ['Buried'],
 ['The Odd Life of Timothy Green'],
 ['Big Mommas Like Father Like Son'],
 ['Stake Land'],
 ['Joy'],
 ['Joy'],
 ['Joy'],
 ['Joy'],
 ['Joy'],
 ['Baywatch'],
 ['Redemption Road'],
 ['MacGruber'],
 ['Monsters'],
 ['Monsters'],
 ['Max Steel'],
 ['Aquaman'],
 ['Cedar Rapids'],
 ['Bridesmaids'],
 ['Attack the Block'],
 ['Eddie The Sleepwalking Cannibal'],
 ['Logan'],
 ['Logan'],
 ['Oblivion'],
 ['Oblivion'],
 ['8 The Mormon Proposition'],
 ['The Greatest Showman'],
 ['Red Riding Hood'],
 ['The Raven'],
 ['5 Days of War'],
 ['Khumba'],
 ['Zambezia'],
 ['The Change-Up'],
 ['The Forest'],
 ['The Forest'],
 ['The Forest'],
 ['The Forest'],
 ['Central Intelligence'],
 ['The Lego Movie'],
 ['The Iceman'],
 ['Foreign Letters'],
 ['The Gift'],
 ['The Gift'],
 ['The Gift'],
 ['The Gift'],
 ['The Gift'],
 ['The Gift'],
 ['The Gift'],
 ['The Gift'],
 ['The Gift'],
 ['The Gift'],
 ['The Gift'],
 ['The Gift'],
 ['The Gift'],
 ['The Gift'],
 ['The Gift'],
 ['The Gift'],
 ['The Paperboy'],
 ['Red River'],
 ['Restless'],
 ['Restless'],
 ['Horrible Bosses'],
 ['Vampires'],
 ['Drive Angry'],
 ['Halloween'],
 ['Halloween'],
 ['Halloween'],
 ['Fantastic Four'],
 ['Fantastic Four'],
 ['Haywire'],
 ['Cargo'],
 ['Cargo'],
 ['Cargo'],
 ['Cargo'],
 ['Le Havre'],
 ['The Three Musketeers'],
 ['The Three Musketeers'],
 ['Griff the Invisible'],
 ['Super'],
 ['Super'],
 ['Sherlock Holmes A Game of Shadows'],
 ['3'],
 ['3'],
 ['3'],
 ['3'],
 ['The Host'],
 ['The Host'],
 ['Meeks Cutoff'],
 ['Area 51'],
 ['Anonymous'],
 ['Limbo'],
 ['Limbo'],
 ['A True Story'],
 ['Contraband'],
 ['The Vatican Tapes'],
 ['Vacation'],
 ['Grabbers'],
 ['Melancholia'],
 ['Melancholia'],
 ['Hero'],
 ['Hero'],
 ['Hero'],
 ['Hero'],
 ['Exodus Gods and Kings'],
 ['Sea Rex 3D Journey to a Prehistoric World'],
 ['Trust'],
 ['Trust'],
 ['Trust'],
 ['Everything Must Go'],
 ['Beginners'],
 ['Battle of the Year'],
 ['Beyond the Black Rainbow'],
 ['Elysium'],
 ['Elysium'],
 ['Captain Phillips'],
 ['Hope Springs'],
 ['The Son of No One'],
 ['The Divide'],
 ['The Divide'],
 ['The Divide'],
 ['Paranormal Activity 2'],
 ['The Mortal Instruments City of Bones'],
 ['Blair Witch'],
 ['Playing for Keeps'],
 ['The Guard'],
 ['Snow Flower and the Secret Fan'],
 ['127 Hours'],
 ['The Grace Card'],
 ['Vamps'],
 ['Vamps'],
 ['Point Blank'],
 ['Point Blank'],
 ['Without Men'],
 ['Premium Rush'],
 ['Another Earth'],
 ['The Last Stand'],
 ['Winnie Mandela'],
 ['A Better Life'],
 ['A Better Life'],
 ['Born of War'],
 ['Country Strong'],
 ['Mary Queen of Scots'],
 ['Mary Queen of Scots'],
 ['Grace'],
 ['Grace'],
 ['Grace'],
 ['Beautiful Creatures'],
 ['The Master'],
 ['The Master'],
 ['The Master'],
 ['I Want Your Money'],
 ['The Devil Inside'],
 ['Higher Ground'],
 ['Amigo'],
 ['One Day'],
 ['One Day'],
 ['One Day'],
 ['One Day'],
 ['One Day'],
 ['One Day'],
 ['Overboard'],
 ['Contact'],
 ['Contact'],
 ['Dolphin Tale'],
 ['Skyline'],
 ['Head Over Heels'],
 ['For Greater Glory The True Story of Cristiada'],
 ['Man on a Ledge'],
 ['Some Guy Who Kills People'],
 ['The Girl with the Dragon Tattoo'],
 ['War Horse'],
 ['War Horse'],
 ['Closure'],
 ['Closure'],
 ['Closure'],
 ['Closure'],
 ['Closure'],
 ['Tiny Furniture'],
 ['A Dangerous Method'],
 ['Mortal Engines'],
 ['The Skeleton Twins'],
 ['Honey'],
 ['Honey'],
 ['Honey'],
 ['Texas Chainsaw 3D'],
 ['Housefull'],
 ['Housefull'],
 ['The Hit List'],
 ['Skin Trade'],
 ['Skin Trade'],
 ['The Dilemma'],
 ['House at the End of the Street'],
 ['Larry Crowne'],
 ['GI Joe Retaliation'],
 ['The Last Godfather'],
 ['Severance'],
 ['What to Expect When Youre Expecting'],
 ['Machine Gun Preacher'],
 ['Maleficent'],
 ['Warm Bodies'],
 ['Jeff Who Lives at Home'],
 ['Brother'],
 ['Brother'],
 ['The Commuter'],
 ['Insidious'],
 ['Act of Valor'],
 ['Lockout'],
 ['LOL'],
 ['The Innkeepers'],
 ['Norm of the North'],
 ['Fast Five'],
 ['Soul Surfer'],
 ['This Means War'],
 ['The Big Short'],
 ['The Woman in Black'],
 ['Click'],
 ['Contagion'],
 ['One for the Money'],
 ['Safe House'],
 ['Sonny'],
 ['Abduction'],
 ['Abduction'],
 ['Abduction'],
 ['Abduction'],
 ['The Drop'],
 ['The Grey'],
 ['Albert Nobbs'],
 ['Only God Forgives'],
 ['Amour'],
 ['A Fine Step'],
 ['Prom'],
 ['American Reunion'],
 ['The Visit'],
 ['The Visit'],
 ['Midnight in Paris'],
 ['A Good Day to Die Hard'],
 ['The Vow'],
 ['Iris'],
 ['Iris'],
 ['The Other Dream Team'],
 ['Zoolander 2'],
 ['Three Kings'],
 ['Three Kings'],
 ['Absentia'],
 ['Abraham Lincoln Vampire Hunter'],
 ['Re-Kill'],
 ['Rubber'],
 ['Savages'],
 ['Margin Call'],
 ['The Foreigner'],
 ['The Foreigner'],
 ['Alvin and the Chipmunks Chipwrecked'],
 ['J Edgar'],
 ['Monster'],
 ['Monster'],
 ['Monster'],
 ['Monster'],
 ['Jupiter Ascending'],
 ['Dum Maaro Dum'],
 ['The Last Witch Hunter'],
 ['Jackie'],
 ['Jackie'],
 ['Jackie'],
 ['A Wrinkle in Time'],
 ['Bleed for This'],
 ['Free Birds'],
 ['Think Like a Man'],
 ['30 Minutes or Less'],
 ['Final Destination 5'],
 ['Infected'],
 ['Infected'],
 ['Oz the Great and Powerful'],
 ['ParaNorman'],
 ['Stitches'],
 ['Stitches'],
 ['Stitches'],
 ['Stitches'],
 ['Young Adult'],
 ['The Journey'],
 ['The Journey'],
 ['The Journey'],
 ['The Journey'],
 ['The Journey'],
 ['Independence Day Resurgence'],
 ['Blackthorn'],
 ['Chasing Mavericks'],
 ['Courageous'],
 ['Enter Nowhere'],
 ['Edge of Tomorrow'],
 ['Creed'],
 ['Creed'],
 ['Creed'],
 ['Friends with Benefits'],
 ['Shark Night 3D'],
 ['Dragonslayer'],
 ['Underdogs'],
 ['Underdogs'],
 ['Johnny English Reborn'],
 ['The Intern'],
 ['The Intern'],
 ['Project X'],
 ['Black and White'],
 ['In Time'],
 ...]

In [218]:
"""for title in new_list:
    R = requests.get('https://www.rottentomatoes.com/m/{}'.format(title))
    if R.status_code == 404:
        continue 
    elif R.status_code == 500:
        continue 
        
"""

"for title in new_list:\n    R = requests.get('https://www.rottentomatoes.com/m/{}'.format(title))\n    if R.status_code == 404:\n        continue \n    elif R.status_code == 500:\n        continue \n        \n"

In [13]:
R.status_code

200

In [ ]:
#R.text

In [14]:
soup = BeautifulSoup(R.text, 'html.parser')

In [15]:
#for review in reviews:
    print(review,'\n')

IndentationError: unexpected indent (<ipython-input-15-9970f29d89e7>, line 2)

In [16]:
#collect the div content 

divs = soup.findAll(class_='media-body quote_bubble__quote')

In [225]:
#print(divs_title)

In [17]:
#display all the reviews 

reviews = []
for div in divs:
    div.find('p').text, '\n'

In [18]:
for div in divs:
    reviews.append(div.find('p').text)

In [19]:
#Needed to get rid of the new line characters 

clean_reviews = []

for x in reviews:
    clean_reviews.append(x.strip())

In [20]:
#clean_reviews

In [21]:
reviews_df = pd.DataFrame(np.array(clean_reviews), columns = ['review'])

In [22]:
reviews_df.head()

                                              review
0  Odd adventure-comedy has lots of innuendo, car...
1  The absolute ugliest animated feature that has...

In [23]:
movie_df.head()

,Unnamed: 0,Unnamed: 0.1,tconst,primary_title,runtime_minutes,genres,averagerating,numvotes,id,production_budget,domestic_gross,worldwide_gross,release_month,release_day,release_year
0,0,0,tt0249516,Foodfight,91.0,"Action,Animation,Comedy",1.9,8248,26,45000000,0,73706,Dec,31,2012
1,1,1,tt0326592,The_Overnight,88.0,NaN,7.5,24,21,200000,1109808,1165996,Jun,19,2015
2,2,2,tt3844362,The_Overnight,79.0,"Comedy,Mystery",6.1,14828,21,200000,1109808,1165996,Jun,19,2015
3,3,3,tt0337692,On_the_Road,124.0,"Adventure,Drama,Romance",6.1,37886,17,25000000,720828,9313302,Mar,22,2013
4,4,4,tt4339118,On_the_Road,89.0,Drama,6.0,6,17,25000000,720828,9313302,Mar,22,2013

In [24]:
reviews_df.head()

                                              review
0  Odd adventure-comedy has lots of innuendo, car...
1  The absolute ugliest animated feature that has...

In [25]:
#Gather the word length of each review

reviews_df['word_count'] = reviews_df['review'].apply(lambda x: len(x.split()))

In [26]:
#Gather the character count of each review

reviews_df['char_count'] = reviews_df['review'].apply(lambda x: len(x))

In [27]:
#Create a function to gather average number of words per review

def average_words(x):
    words = x.split() #to give the # of words
    return sum(len(word)for word in words) / len(words)

In [28]:
reviews_df['average_word_length'] = reviews_df['review'].apply(lambda x: average_words(x))

In [238]:
#reviews_df.head()

In [29]:
#starting sentiment analysis 

import nltk
from nltk.corpus import stopwords

In [30]:
stop_words = stopwords.words('english')

len(stop_words)

179

In [31]:
#How many stop words in each review 

reviews_df['stopword_count'] = reviews_df['review'].apply(lambda x: len([word for word in x.split() if word in stop_words]))

In [32]:
reviews_df['stopword_percentage'] = reviews_df['stopword_count']/reviews_df['word_count']

In [33]:

#reviews_df['movie_name'] = new_list[title]

In [34]:
reviews_df.sort_values(by = 'stopword_percentage')

,review,word_count,char_count,average_word_length,stopword_count,stopword_percentage
0,"Odd adventure-comedy has lots of innuendo, car...",8,59,6.500000,2,0.250000
1,The absolute ugliest animated feature that has...,17,117,5.941176,5,0.294118

In [35]:
reviews_df.head()

,review,word_count,char_count,average_word_length,stopword_count,stopword_percentage
0,"Odd adventure-comedy has lots of innuendo, car...",8,59,6.500000,2,0.250000
1,The absolute ugliest animated feature that has...,17,117,5.941176,5,0.294118

In [36]:
reviews_df.describe()

,word_count,char_count,average_word_length,stopword_count,stopword_percentage
count,2.000000,2.000000,2.000000,2.00000,2.000000
mean,12.500000,88.000000,6.220588,3.50000,0.272059
std,6.363961,41.012193,0.395148,2.12132,0.031196
min,8.000000,59.000000,5.941176,2.00000,0.250000
25%,10.250000,73.500000,6.080882,2.75000,0.261029
50%,12.500000,88.000000,6.220588,3.50000,0.272059
75%,14.750000,102.500000,6.360294,4.25000,0.283088
max,17.000000,117.000000,6.500000,5.00000,0.294118

In [37]:
#Data Cleaning 

#looping through each word which is x
#splititng x givng us every word
#every word we get back were lowering

reviews_df['lowercase'] = reviews_df['review'].apply(lambda x: " ".join(word.lower() for word in x.split()))

In [38]:
#removing puncuations

reviews_df['punctuation'] = reviews_df['lowercase'].str.replace('[^\w\s]', '')

In [39]:
reviews_df['stopwords'] = reviews_df['punctuation'].apply(lambda x: " ".join(word for word in x.split() if word not in stop_words))

In [40]:
#other words that dont add value

other_stopwords = ['us','get','also','would','end','hill']

In [41]:
reviews_df['clean_review'] = reviews_df['stopwords'].apply(lambda x: " ".join(word for word in x.split() if word not in other_stopwords))

In [42]:
#an array of every single word in all the reviews

pd.Series(" ".join(reviews_df['clean_review']).split()).value_counts()[:30]

odd                1
ugliest            1
studio             1
lots               1
absolute           1
ever               1
feature            1
animation          1
animated           1
innuendo           1
cartoon            1
something          1
released           1
actual             1
resembling         1
violence           1
adventurecomedy    1
dtype: int64

In [43]:
#Lemmatization
#Basically changing word like resturants to resturant(words to word) bc really they mean the same thing 

import textblob

from textblob import Word

from nltk.stem import WordNetLemmatizer 
  
lemmatizer = WordNetLemmatizer()

In [44]:
reviews_df['lemmatized'] = reviews_df['clean_review'].apply(lambda x: " ".join(Word(word).lemmatize() for word in x.split()))

In [45]:
#Sentiment Analysis

from textblob import TextBlob

In [46]:
reviews_df['polarity'] = reviews_df['lemmatized'].apply(lambda x: TextBlob(x).sentiment[0])

In [47]:
reviews_df['subjectivity'] = reviews_df['lemmatized'].apply(lambda x: TextBlob(x).sentiment[1])

In [48]:
#clean up columns we dont need now

reviews_df.drop(['lowercase','punctuation','stopwords','clean_review', 'lemmatized'], axis = 1, inplace = True)

In [49]:
reviews_df.head()

,review,word_count,char_count,average_word_length,stopword_count,stopword_percentage,polarity,subjectivity
0,"Odd adventure-comedy has lots of innuendo, car...",8,59,6.500000,2,0.250000,-0.166667,0.25
1,The absolute ugliest animated feature that has...,17,117,5.941176,5,0.294118,0.100000,0.50

In [50]:
#average ppolarity for X Movie

reviews_df['polarity'].mean()

-0.033333333333333326

In [51]:
reviews_df['total_polarity'] = reviews_df.polarity.mean()

In [52]:
reviews_df.head()

,review,word_count,char_count,average_word_length,stopword_count,stopword_percentage,polarity,subjectivity,total_polarity
0,"Odd adventure-comedy has lots of innuendo, car...",8,59,6.500000,2,0.250000,-0.166667,0.25,-0.033333
1,The absolute ugliest animated feature that has...,17,117,5.941176,5,0.294118,0.100000,0.50,-0.033333

In [2]:
#set primary_title to the movie name and primary_title in movie_df so i can merge them

In [54]:
reviews_df.head()

,review,word_count,char_count,average_word_length,stopword_count,stopword_percentage,polarity,subjectivity,total_polarity,primary_title
0,"Odd adventure-comedy has lots of innuendo, car...",8,59,6.500000,2,0.250000,-0.166667,0.25,-0.033333,Foodfight
1,The absolute ugliest animated feature that has...,17,117,5.941176,5,0.294118,0.100000,0.50,-0.033333,Foodfight

In [63]:
full_movie_df = pd.merge(movie_df, reviews_df, on = "primary_title")
full_movie_df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'tconst', 'primary_title',
       'runtime_minutes', 'genres', 'averagerating', 'numvotes', 'id',
       'production_budget', 'domestic_gross', 'worldwide_gross',
       'release_month', 'release_day', 'release_year', 'review', 'word_count',
       'char_count', 'average_word_length', 'stopword_count',
       'stopword_percentage', 'polarity', 'subjectivity', 'total_polarity'],
      dtype='object')

In [1]:
#full_movie_df.head()

In [1]:
full_moviedf.head()

NameError: name 'full_moviedf' is not defined

In [65]:
#movie_df.head()

,Unnamed: 0,Unnamed: 0.1,tconst,primary_title,runtime_minutes,genres,averagerating,numvotes,id,production_budget,domestic_gross,worldwide_gross,release_month,release_day,release_year
0,0,0,tt0249516,Foodfight,91.0,"Action,Animation,Comedy",1.9,8248,26,45000000,0,73706,Dec,31,2012
1,1,1,tt0326592,The_Overnight,88.0,NaN,7.5,24,21,200000,1109808,1165996,Jun,19,2015
2,2,2,tt3844362,The_Overnight,79.0,"Comedy,Mystery",6.1,14828,21,200000,1109808,1165996,Jun,19,2015
3,3,3,tt0337692,On_the_Road,124.0,"Adventure,Drama,Romance",6.1,37886,17,25000000,720828,9313302,Mar,22,2013
4,4,4,tt4339118,On_the_Road,89.0,Drama,6.0,6,17,25000000,720828,9313302,Mar,22,2013